.popup {
  width: 300px;
  height: 300px;
  color: white;
  z-index: 100;
}

.conteiner {
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1000;
  display: block;
  overflow: hidden;
}
.conteiner_disable {
  opacity: 0;
  position: absolute;
  width: 100px;
  height: 100px;
}

.popup_disable {
  opacity: 0;
  position: absolute;
  width: 100px;
  height: 100px;
}

.popup__wrapper {
  z-index: 100;
  position: relative;
  width: 800px;
  /* height: 400px; */
  margin: 10px auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(40px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  z-index: 100;
}


.popup__close {
  cursor: pointer;
  width: 30px;
  position:absolute;
  right: -50px;
  top: 20px;

  transition: 1s;
}

.popup__close:hover {
  transform:rotate(90deg);
}

.iksweb_disable {
  opacity: 0;
  width: 1px;
  height: 1px;
}

table.iksweb{
	width: 80%;
  margin: auto;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
  text-align:left;
  margin-bottom: 50px;
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: 2px solid rgba(255, 255, 255, .5);
}
table.iksweb td,table.iksweb th {
	padding: 3px;
	width: 30px;
	height: 35px;
}
table.iksweb th {
	background: #347c99;
	color: #fff;
	font-weight: normal;
}

.popup__p {
  text-align: left;
}
.popup__textwrap {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

@media screen and (max-width: 425px) {

  .popup__wrapper {
    z-index: 100;
    /* position: relative; */
    width: 320px;
    /* height: 400px; */
    margin: 10px auto;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    z-index: 100;
  }

  .popup__close {
    cursor: pointer;
    width: 20px;
    position:absolute;
    right: 10px;
    top: 5px;

    transition: 1s;
  }
  .popup__p {
    margin: 0;
    margin-bottom: 8px;
  }
  table.iksweb{
    font-size: small;
    width: 80%;
    margin: auto;
    border-collapse:collapse;
    border-spacing:0;
    height: auto;
    text-align:left;
    margin-bottom: 10px;
  }
  table.iksweb,table.iksweb td, table.iksweb th {
    border: 2px solid rgba(255, 255, 255, .5);
  }
  table.iksweb td,table.iksweb th {
    padding: 3px;
    width: 30px;
    height: 35px;
  }
  table.iksweb th {
    background: #347c99;
    color: #fff;
    font-weight: normal;
  }
  .conteiner {
    font-size: small;
  }
}
